@model IEnumerable<QuanLySinhVien.WebAppMvc.ViewModel.StudentProfessorVm>;


@{
    ViewData["Title"] = "Index";
    int _pageSize = ViewBag.PageSize ?? 5;
}

    <div class="box-content p-2" style="margin-top: 80px">

<div class="d-flex justify-content-between mt-2">
<h2>Danh sách sinh viên</h2>
<div>
                <button class="addBtn btn btn-primary" type="button" class="btn btn-primary" data-toggle="modal" data-target="#myAddModal" onclick="clearTextBox();">Thêm sinh viên</button>
            <button class="btn btn-primary" onclick="DownloadExcel()">Xuất Excel</button>
</div>

</div>
<div class="my-2">
        <form method="get" action="@Url.Action("Index")">
            <input type="text" name="searchQuery" placeholder="Tìm kiếm gần đúng" value="@ViewBag.SearchQuery" />
            <button type="submit">Tìm kiếm</button>
        </form>
</div>
<form id="pageSizeForm" method="get" action="@Url.Action("Index")">
            <label for="pageSize">Page Size:</label>
            <select id="pageSize" name="pageSize">
                <option value="5" selected="@(_pageSize == 5)">5</option>
                <option value="10" selected="@(_pageSize == 10)">10</option>
                <option value="20" selected="@(_pageSize == 20)">20</option>
                <option value="50" selected="@(_pageSize == 50)">50</option>

                <!-- Other pageSize values -->
            </select>
    <!-- Các thành phần giao diện khác -->

</form>
<div>
    <p>Total Items: @ViewBag.TotalItems - Total Pages: @ViewBag.TotalPages</p>
    <p>Chọn trang</p>
        <div>
            <ul class="pagination">
                <li class="page-item @(ViewBag.CurrentPage == 1 ? "disabled" : "")">
                    <a href="@Url.Action("Index", new { page = ViewBag.CurrentPage -1  })" class="page-link rounded">Trước</a>
                </li> 
                @for (int i = 1; i <= ViewBag.TotalPages; i++)
                {
                    <li class="page-item @(i == ViewBag.CurrentPage ? "active" : "") ">
                        <a href="@Url.Action("Index", new { page = i })" class="page-link rounded">@i</a>
                    </li>
                }
            <li class="page-item @(ViewBag.CurrentPage == ViewBag.TotalPages ? "disabled" : "")">
                    <a href="@Url.Action("Index", new { page = ViewBag.CurrentPage + 1  })" class="page-link rounded">Sau</a>
                </li>
            </ul>
        </div>
        
        <table class="table">
    <thead>
        <tr>
            <th>
               Tên
            </th>
            <th>
               Họ
            </th>
            <th>
              Ngày sinh
            </th>
            <th>
               GPA
            </th>
            <th>
               Giảng viên phụ trách
            </th>
            <th>Thao tác</th>
        </tr>
    </thead>
    <tbody>
                @if (Model != null)
                {
               
                @foreach(var item in Model)
        {
            <tr>
                <td>@item.Students.FirstName</td>
                <td>@item.Students.LastName</td>
                <td>@item.Students.Dob.ToShortDateString()</td>
                <td>@item.Students.GPA</td>
                <td>@item.ProfessorName</td>
                <th>
                                <button class="btn btn-info" data-id="@item.Students.StudentId"
                                        onclick="getData('@item.Students.StudentId', '@item.Students.FirstName', 
                                         '@item.Students.LastName', '@item.Students.Dob.ToShortDateString()', '@item.Students.GPA', '@item.Students.AdvisorId')"
                                data-toggle="modal" data-target="#myEditModal">Sửa</button>
                                <button class="btn btn-secondary" data-id="@item.Students.StudentId" onclick="deleteItem(this)"  data-toggle="modal" data-target="#myRemoveModal">Xóa</button>
                </th>
         
            </tr>
                    }
                
            
        }

        else
        {
            <p>Không có dữ liệu trả về  </p>
        }
            </tbody>

            </table>
      
        


    </div>
    <div class="modal fade" id="myAddModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                    <form method="post" asp-action="Create" asp-controller="Student">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">×</button>
                </div>
                <div class="modal-body">
                      
                        <div class="form-group">
                            <label for="FirstName">Tên</label>
                            <input type="text" class="form-control" id="FirstName" placeholder="Tên" name="FirstName" />
                        </div>
                        <div class="form-group">
                            <label for="LastName">Họ</label>
                            <input type="text" class="form-control" id="LastName" placeholder="Họ" name="LastName" />
                        </div>
                        <div class="form-group">
                            <label for="Dob">Ngày sinh</label>
                            <input type="date" class="form-control" id="Dob" placeholder="Nhập ngày sinh" name="Dob"/>
                        </div>
                        <div class="form-group">
                            <label for="GPA">GPA</label>
                            <input type="text" class="form-control" id="GPA" placeholder="GPA" min="0" name="GPA" />
                        </div>
                        <div class="form-group">
                            <label for="Professor">Giảng viên phụ trách</label>
                            <select class="form-control" id="Professor" name="AdvisorId">
                                <option value="">Chọn giảng viên</option>
                                @{
                                    var professors = ViewBag.Professors as List<Professor>;
                                    if (professors != null)
                                    {
                                        foreach (var professor in professors)
                                        {
                                            <option value="@professor.ProfessorId">@professor.LastName @professor.FirstName</option>
                                        }
                                    }
                                }
                           </select>
                        </div>
                </div>
                <div class="modal-footer">
                    @*<button type="button" class="btn btn-primary" id="btnAdd" onclick="return Add();">Thêm</button>*@
                    <button type="submit" class="btn btn-primary" id="btnAdd">Thêm</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>

                </div>
                    </form>
            </div>
        </div>
    </div>
    @* Modal sửa *@
    <div class="modal fade" id="myEditModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <form method="post" asp-action="Edit" asp-controller="Student">
                  
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">×</button>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <input type="hidden" class="studentIdEdit form-control" id="StudentId" name="StudentId"  />
                        </div>
                        <div class="form-group">
                            <label for="FirstName">Tên</label>
                            <input type="text" class="firstNameEdit form-control" id="FirstName" placeholder="Tên" name="FirstName" />
                        </div>
                        <div class="form-group">
                            <label for="LastName">Họ</label>
                            <input type="text" class="lastNameEdit form-control" id="LastName" placeholder="Họ" name="LastName" />
                        </div>
                        <div class="form-group">
                            <label for="Dob">Ngày sinh</label>
                            <input type="date" class="dobEdit form-control" id="Dob" placeholder="Nhập ngày sinh" name="Dob" value="2014-12-29" />
                        </div>
                        <div class="form-group">
                            <label for="GPA">GPA</label>
                            <input type="text" class="gpaEdit form-control" id="GPA" placeholder="GPA" min="0" name="GPA" />
                        </div>
                        <div class="form-group">
                            <label for="Professor">Giảng viên phụ trách</label>
                            <select class="advisorEdit form-control" id="advisorEdit" name="AdvisorId">
                                <option value="">Chọn giảng viên</option>

                                @{
                                    var professors2 = ViewBag.Professors as List<Professor>;
                                    if (professors2 != null)
                                    {
                                        foreach (var professor in professors2)
                                        {
                                            <option value="@professor.ProfessorId">@professor.LastName @professor.FirstName</option>
                                        }
                                    }
                                }
                            </select>
                        </div>
                    </div>
                    <div class="modal-footer">
                        @*<button type="button" class="btn btn-primary" id="btnAdd" onclick="return Add();">Thêm</button>*@
                        <button type="submit" class="btn btn-primary" id="btnEdit">Sửa</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>

                    </div>
                </form>
            </div>
        </div>
    </div>
  @*  Xóa*@
    <div class="modal fade" id="myRemoveModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">×</button>
                </div>
                    <form method="post" asp-action="Delete" asp-controller="Student">
                <div class="modal-body">

                        Xác nhận xóa ?

                        <input type="hidden" class="studentIdDelete form-control" name="StudentId" />
                        
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary" id="btnRemove">Xóa</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Hủy</button>

                </div>
                    </form>
            </div>
        </div>
    </div>
    <script>
        // Load Data in Table when document is ready


        $(document).ready(function () {
            loadData();
        });


      

        function deleteItem(button) {
            var id = $(button).data('id'); // Lấy giá trị id từ thuộc tính data-id
            $('.studentIdDelete').val(id); // Đặt giá trị id vào input studentIdDelete
        }

        function getData(studentId, firstName, lastName, Dob, GPA, AdvisorId) {
            $(".studentIdEdit").val(studentId);
            $(".firstNameEdit").val(firstName);
            $(".lastNameEdit").val(lastName);

            // Chuyển đổi chuỗi ngày tháng thành đối tượng Date
            var dateObj = new Date(Dob);
            var formattedDate = dateObj.toISOString().substr(0, 10); // Lấy chuỗi ngày tháng định dạng ISO ("yyyy-MM-dd")
            // Đặt giá trị cho trường input type=date
            $('.dobEdit').val(formattedDate);

            $(".gpaEdit").val(GPA);
            $(".advisorEdit").val(AdvisorId);
        }

     

        

    </script>
